{
    "host": "192.168.1.100",
    "ps5": true,
    "psn_account_id": "AAAAAAAAAA==",
    "registered_key": "AAAAAAAAAAAAAAAAAAAAAA==",
    "rp_key": "AAAAAAAAAAAAAAAAAAAAAA==",
    "rp_key_type": 2,
    "wakeup": true,
    "ps5_mac": "00:00:00:00:00:00",
    "wakeup_delay_ms": 60000,
    "sleep_on_exit": true,
    "video_width": 1920,
    "video_height": 1080,
    "video_fps": 60,
    "video_bitrate": 15000,
    "probe_width": 0,
    "probe_height": 0,
    "video_codec": "h265",
    "packet_loss_max": 0.05,
    "idr_on_fec_failure": true,
    "audio_volume": 100
}
